﻿@model Restaurant

@{
    ViewBag.Title = "Create";
}

<h1>Create</h1>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Cuisine)
        @Html.DropDownListFor(m => m.Cuisine, Html.GetEnumSelectList(typeof(CUISINE_TYPE)))
        @Html.ValidationMessageFor(m => m.Cuisine)
    </div>
    <div>
        <input type="submit" value="Save" />
    </div>
}
