﻿@model NetCoreApp.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!!!</h1>

@foreach (var restaurant in Model.Restaurants)
{
    @await Html.PartialAsync("_Summary", restaurant)
}

<div>
    <a asp-action="Create">Create</a>
</div>